@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.main {
  padding: 8px;
}

.task {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 2px;
  max-width: 200px;
}

.task + .task {
  margin-top: 4px;
}

.task > * + * {
  margin-left: 4px;
}
.filters{
  position: fixed;
  left: 250px;
  top: 60px;
  width: calc(100% - 250px);
  height: 60px;
  background: #fff;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding: 0 20px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}

.filters::-webkit-scrollbar{
  display: none;
}

.filter-options{
  flex: 0 0 auto;
  padding: 10px 20px;
  border-radius: 50px;
  background: #f0f0f0;
  border: 1px solid #dbdbdb;
  text-transform: capitalize;
  margin-right: 10px;
  color: #242424;
  font-size: 15px;
  cursor: pointer;
}

.filter-options.active{
  color: #fff;
  background: #242424;
}